{% extends 'base.html' %}
{% block template %}
    <table class="table">
        <thead>
            <tr>
                <th class="th">ID</th>
                <th class="th">Cohort [ea.drug]</th>
                <th class="th">Therapy duration [days]</th>
                <th class="th">Visits interval [days]</th>
            </tr>
        </thead>
        <tbody>
        {% for item in treatment_list %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.patient_cohort}}</td>
                <td>{{item.therapy_duration}}</td>
                <td>{{item.visits_frequency}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}